<div class="panel panel-default">
<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="panel-header">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ contact?.name }}</h1>
            <img src="{{ contact?.imageUrl }}">
            <div class="btn-group pull-right">
            <a class="btn btn-primary" [routerLink]="['edit']">
            Edit
            </a>
        <a class="btn btn-danger" (click)="onDelete()">
            Delete
        </a>
        </div>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>
</div>
<div class="panel-body">
<div class="row">
    <div class="col-xs-12">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Email: {{ contact?.email }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Phone: {{ contact?.phone }}
    </div>
</div>
</div>
<div class="panel-footer" *ngIf="contact?.group && contact.group.length > 0">
    <div *ngFor="let groupContact of contact?.group">
        <div>
            {{ groupContact?.name}}
        </div>
    </div>

</div>
</div>